<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:insert="blocks/common :: common">
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
<div th:insert="blocks/navbar :: navbar"></div>
<div  class="container">
    <div th:insert="blocks/jsconnect :: jsconnect"></div>
    <h5>Привет, гость!</h5>
    <div>Это просто сервис микроблогов</div>
    <div>Для корректной работы рекомендуется выключить ВПН, иначе возможны ошибки</div>
</div>
</body>
</html>