<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
            <span><a href="/user">Список пользователей</a></span>
        </form>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data">
            <input type="text" name="text" placeholder="Введите сообщение" />
            <input type="text" name="tag" placeholder="Тег">
            <input type="file" name="file">
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Список сообщений</div>
    <form method="get" action="/index">
        <input type="text" name="filter" th:value="${filter}">
        <button type="submit">Найти</button>
    </form>
    <ul>
        <!-- messages исходит из MainController, где PostMapping'ом создается объект Iterable<Message> messages -->
        <li th:each="message : ${messages}">
            <b th:text="${message.id}"></b>
            <span th:text="${message.text}"></span>
            <i th:text="${message.tag}"></i>
            <strong th:text="${message.authorName}"></strong>
            <div>
                <img th:src="${message.filename != null}? @{${'/img/' + message.filename}}" />
            </div>
        </li>
    </ul>

</body>
</html>