<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="blocks/common :: common">
    <title>Вход в систему </title>
</head>
<body>
<div th:insert="blocks/navbar :: navbar"></div>
<div  class="container">
    <div th:insert="blocks/jsconnect :: jsconnect"></div>
    <p th:text="${message != null}? ${message}">Message</p>
    <!--
    <p th:if="${user.isActive() == false}">Можете закрывать страницу</p>
    -->
    <form th:action="@{/login}" method="post">
        <div th:insert="blocks/inputs :: inputs"></div>
        <button class="btn btn-primary" type="submit">Войти</button>
    </form>
    <a href="/registration">Зарегистрироваться</a>
</div>
</body>
</html>