<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="blocks/common :: common">
    <title>Регистрация</title>
</head>
<body>
<div th:insert="blocks/navbar :: navbar"></div>
<div  class="container">
    <div th:insert="blocks/jsconnect :: jsconnect"></div>
    Добавление нового пользователя
    <p th:text="${message != null}? ${message}">Message</p>
    <form th:action="@{/registration}" method="post">
        <div th:insert="blocks/inputs :: inputs"></div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Email :  </label>
            <div class="col-sm-6">
                <input type="email" class="form-control" name="email" placeholder="Введите свою почту"/>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
    </form>
</div>
</body>
</html>